<main class="password_update-container">
    <div class="navigation">
        <img class="navigation-arrow" src="../../../static/nav_arrow.png" alt="nav arrow">
    </div>
    <div class="password_update-content">
        <div class="avatar">
            <img class="avatar-img" src="../../../static/ava_blank.png" alt="avatar">
        </div>

        <form>
            <div class="form">
                {{> updateField id='oldPassword' label='Old password' type='password' }}
                {{> line }}

                {{> updateField id='newPassword' label='New password' type='password' }}
                {{> line }}

                {{> updateField id='newPasswordRepeat' label='Repeat new password' type='password' }}
            </div>
            <div class="controls">
                {{> button label='Update'}}
            </div>
        </form>

    </div>
</main>
