<div class="navigation">
    <img class="navigation-arrow" src="../../../static/nav_arrow.png" alt="nav arrow">
</div>
<div class="password_update-content">
    <div class="avatar">
        <img class="avatar-img" src="../../../static/ava_blank.png" alt="avatar">
    </div>

    <form>
        <div class="form">
            {{{updateFieldOldPass }}}
            <div class="line"></div>
            {{{updateFieldNewPass }}}
            <div class="line"></div>
            {{{updateFieldNewPassRepeat }}}

        </div>
        <div class="controls">
            {{{button}}}
        </div>
    </form>

</div>
