.update-field {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0 10px 0;

    .update-field_label {
        white-space: nowrap;
    }

    .update-field_input {
        direction: RTL;
        margin-left: 30px;
        background: #000337;
        border: none;
        color: #FAFEFF;
        outline: none;
    }
}