<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles.pcss">
    <title>Sign In</title>
</head>
<body>
<ul>
    <li><a href="./src/pages/signIn/signIn.hbs">Sign in</a></li>
    <li><a href="./src/pages/signUp/signUp.hbs">Sign up</a></li>
    <li><a href="./src/pages/profile/profile.hbs">Profile</a></li>
    <li><a href="./src/pages/profile-update/profile-update.hbs">Profile update</a></li>
    <li><a href="./src/pages/password-update/password-update.hbs">Password update</a></li>
    <li><a href="./src/pages/500/500.hbs">500</a></li>
    <li><a href="./src/pages/404/404.hbs">404</a></li>
</ul>
</body>
</html>