<nav>
    <ul>
        <li onclick="goToPage('404')">404</li>
        <li onclick="goToPage('500')">500</li>
        <li onclick="goToPage('chat')">chat</li>
        <li onclick="goToPage('passwordUpdate')">passwordUpdate</li>
        <li onclick="goToPage('profile')">profile</li>
        <li onclick="goToPage('profileUpdate')">profileUpdate</li>
        <li onclick="goToPage('signIn')">signIn</li>
        <li onclick="goToPage('signUp')">signUp</li>
    </ul>
</nav>


<!--        <li>{{> link link='./src/pages/signIn/signIn.hbs' label='Sign in' }}</li>-->
<!--        <li>{{> link link='./src/pages/signUp/signUp.hbs' label='Sign up' }}</li>-->
<!--        <li>{{> link link='./src/pages/profile/profile.hbs' label='Profile' }}</li>-->
<!--        <li>{{> link link='./src/pages/profile-update/profile-update.hbs' label='Profile update' }}</li>-->
<!--        <li>{{> link link='./src/pages/password-update/password-update.hbs' label='Password update' }}</li>-->
<!--        <li>{{> link link='./src/pages/chat/chat.hbs' label='Chat' }}</li>-->
<!--        <li>{{> link link='./src/pages/500/500.hbs' label='500' }}</li>-->
<!--        <li>{{> link link='./src/pages/404/404.hbs' label='404' }}</li>-->
