<main class="chat-content">
    <div class="chat-list">
        <div class="chat-list_head">
            <a class="chat-list_profile">Profile ></a>
            <input class="chat-list_input" type="text" placeholder="Search">
        </div>
        <div class="chat-list_body">
            {{> line}}
            <div class="chat-list_card">
                <div class="card-avatar"></div>
                <div class="card-body">
                    <h4 class="card-body_name">Andrew</h4>
                    <p class="card-body_message">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, ad atque cupiditate dignissimos</p>
                </div>
                <div class="card-info">
                    <p class="card-info_time">15:24</p>
                    <div class="card-info_new-msg"><span>2</span></div>
                </div>
            </div>
            {{> line}}
            <div class="chat-list_card">
                <div class="card-avatar"></div>
                <div class="card-body">
                    <h4 class="card-body_name">Andrew</h4>
                    <p class="card-body_message">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, ad atque cupiditate dignissimos</p>
                </div>
                <div class="card-info">
                    <p class="card-info_time">15:24</p>
                    <div class="card-info_new-msg"><span>2</span></div>
                </div>
            </div>
            {{> line}}
            <div class="chat-list_card">
                <div class="card-avatar"></div>
                <div class="card-body">
                    <h4 class="card-body_name">Andrew</h4>
                    <p class="card-body_message">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, ad atque cupiditate dignissimos</p>
                </div>
                <div class="card-info">
                    <p class="card-info_time">15:24</p>
                    <div class="card-info_new-msg"><span>2</span></div>
                </div>
            </div>
            {{> line}}
            <div class="chat-list_card">
                <div class="card-avatar"></div>
                <div class="card-body">
                    <h4 class="card-body_name">Andrew</h4>
                    <p class="card-body_message">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, ad atque cupiditate dignissimos</p>
                </div>
                <div class="card-info">
                    <p class="card-info_time">15:24</p>
                    <div class="card-info_new-msg"><span>2</span></div>
                </div>
            </div>
            {{> line}}
        </div>
    </div>
    <div class="chat-main">
        <div class="chat-main_messages">
            <div class="received-message">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Provident quibusdam voluptatem voluptates. Aliquid assumenda
                commodi deserunt dignissimos eum illum labore, natus nobis,
                odit officia officiis velit voluptas voluptatibus. Nulla odio
                officiis similique! Ab alias amet doloremque esse optio pariatur
                placeat quia saepe temporibus? Ab assumenda beatae ea, iste perferendis
                possimus!
            </div>
            <div class="sent-message">
                Lorem ipsum.
            </div>
        </div>
        <div class="chat-main_controls">
            <div class="controls-attach"></div>
            <input class="controls-message" type="text" placeholder="Message" id="message" name="message">
            <div class="controls-send"></div>
        </div>
    </div>
</main>
