.chat-content {
    height: 100%;
    display: flex;

    .chat-list {
        height: 100%;
        width: 25%;
        background: #00065F;
        border-right: 1px solid #44F0F8;
    }

    .chat-main {
        display: flex;
        height: 100%;
        width: 75%;

        p {
            color: #FAFEFF;
            margin: auto;
        }
    }
}
