<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./500.pcss">
    <link rel="stylesheet" href="../../index.pcss">
    <title>Error</title>
</head>
<body>
    <div class="error_content">
        <h2>500</h2>
        <p>We will fix it</p>
        <a href="#">Back to chats</a>
    </div>
</body>
</html>