<main class="signin-container">

    <div class="signin-form">
        <h2>Sign In</h2>

        <form>
            <div class="signin-form_input">
                {{> input type='text' label='Login:' id='login' style="margin-bottom: 16px;"}}
                {{> input type='password' label='Password:' id='password' style='margin-bottom: 16px;'}}
            </div>
            <div class="buttons">
                {{> button label='Sign in'}}
                <a href="../signUp/signUp.hbs">Sign Up</a>
            </div>
        </form>

    </div>
</main>
