<div class="card-avatar"></div>
<div class="card-body">
    <h4 class="card-body_name">{{name}}</h4>
    <p class="card-body_message">{{message}}</p>
</div>
<div class="card-info">
    <p class="card-info_time">{{time}}</p>
    <div class="card-info_new-msg"><span>{{count}}</span></div>
</div>
