{{{image}}}
<p class="avatar-name">{{name}}</p>

<form id="myUserForm">
    Картинка: <input id="avatar" type="file" name="avatar" accept="image/*">
<!--    <button onclick="onSubmit()">Submit</button>-->
    {{{button}}}
</form>
