.avatar {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .avatar-img {
        margin-bottom: 16px;
        cursor: pointer;
    }

    .avatar-name {
        font-size: 16px;
    }
}
