.add-new-user-content {
    height: 100%;

    .title {
        color: var(--main-text-color);
    }

    .navigation {
        height: 100%;
        width: 64px;
        position: absolute;
        left: 0;
        background: var(--secondary-bg-color);
        border-right: 1px solid var(--primary-color);
        display: flex;

        .navigation-arrow {
            margin: auto;
            cursor: pointer;
        }
    }
}
