.input {
    display: flex;
    flex-direction: column;

    .input_label {
        color: #44f0f8;
        font-size: 9px;
        margin-bottom: 2px;
        padding-left: 2px;
    }

    .input_field {
        background: #00065F;
        border: none;
        border-bottom: 1px solid #44f0f8;
        color: #FAFEFF;
        outline: none;
        padding-bottom: 4px;

        &:focus {
        }
    }
}
